<Realm
        className="org.apache.catalina.realm.JDBCRealm"
        driverName="oracle.jdbc.driver.OracleDriver"
        connectionURL="jdbc:oracle:thin:@localhost:1521:orcl"
        connectionName="amirsam"
        connectionPassword="myjava123"
        userTable="users"
        userNameCol="username"
        userCredCol="password"
        userRoleTable="roles"
        roleNameCol="role_name"
        digest="md5"

/>